@model List<FURNITURE.Models.ProductsDataModel>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/homepage.css" rel="stylesheet" />
</head>
<body>
    <div class="CardBox">
        @foreach (var furdata in Model)
        {
            <div class="Card">
                <a asp-controller="Products" asp-action="StTableDetail" asp-route-id="@furdata.Id">
                    <img src="~/Images/AllImages/@furdata.ImagePath" class="card-img-top">
                    <h5 class="card-title text-black">@furdata.Name</h5>
                    <p class="text-black">₹@furdata.Price</p>
                </a>
            </div>
        }
    </div>
    <footer>
        <div style="height:20vw;width:100vw;margin-top:230px; background-color:#071730;margin-top:40px; ">
            <div class="container">
                <div class="row d-flex justify-content-around" style="color:white; padding-top: 20px;padding-top:100px">
                    <div class="col-md-3">
                        <h5 class="text-white">Multimart</h5>
                        <p>Versatile</p>
                        <p>Diverse</p>
                        <p>Dynamic</p>
                    </div>

                    <div class="col-md-3">
                        <h5>Top Categories</h5>
                        <p><a href="@Url.Action("SofaPage", "Products")" style="color:white;">Sofa</a></p>
                        <p><a href="@Url.Action("StudyTable", "Products")" style="color:white;">Study Table</a></p>
                        <p><a href="@Url.Action("ChairPage", "Products")" style="color:white;">Chair</a></p>
                    </div>

                    <div class="col-md-3">
                        <h5>Useful Links</h5>
                        <p><a href="@Url.Action("CartPage", "Products")" style="color:white;">Cart</a></p>
                        <p><a href="@Url.Action("Index", "Home")" style="color:white;">Home</a></p>
                        <p><a href="@Url.Action("Shop", "Home")" style="color:white;">Shop</a></p>
                    </div>

                    <div class="col-md-3">
                        <h5>Contacts</h5>
                        <p>Rajkot</p>
                        <p>+91 53378884585</p>
                        <p>furniture@gmail.com</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
